* {
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.app-list-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.app-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #1A1A1A;
    padding: 10px 15px;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.11);
    outline-offset: -1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all cubic-bezier(.46,.43,.1,.99) 0.2s;
    gap: 10px;
}


.app-list .app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0);
    outline-offset: -1px;
    transition: all cubic-bezier(.46,.43,.1,.99) 0.2s;
    cursor: pointer;
}

.app-list .app-item:hover {
    background-color: #222;
    outline: 1px solid rgba(255, 255, 255, 0.11);
    outline-offset: -1px;
    padding: 10px 15px;
    border-radius: 10px;
}

.app-list .app-item p {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.app-list .app-item img {
    height: 10vh;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.app iframe {
    border-radius: 10px;
    outline: 1px solid rgb(255 255 255 / 22%);
    outline-offset: -1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all cubic-bezier(.46, .43, .1, .99) 0.2s;
    height: 90vh;
    width: 90vw;
}